# Use this YAML in your workflow file for each job
name: Build and test

on: [push, pull_request]

jobs:
  build:
    name: build and test
    runs-on: self-hosted
    steps:
      - name: get the repo
        uses: actions/checkout@v2
        with:
          path: 'template'
      - name: Build
        run: cd template && cmake ./ && make
      - name: Execute
        run: ./app
